extends layout

block content
  h1= title
  p Welcome to #{title}. This website provides access to social graph.
  
  p Every object in the social graph has a unique ID. You can access the properties of an object by requesting 
    code #{base}/ID

  p To list users use 
    code #{base}/users

  p To list groups use 
    code #{base}/groups

  p You can search for users and/or groups by using these urls:
    ul
      li
        code #{base}/user/USERNAME
      li
        code #{base}/group/USERNAME

  p User-group relations can be gathered like this:
    ul
      li
        code #{base}/user/USERNAME/groups
      li
        code #{base}/ID/groups
      li
        code #{base}/group/USERNAME/members
      li
        code #{base}/ID/members

